.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------ Nav Bar ------ */
.headerContainer {
  background-color:aliceblue;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-decoration: none;
	flex-wrap: wrap;
}

.navItem {
  text-decoration: none;
	padding: 10px;
	margin-bottom: 5px;
  cursor: pointer;
}

/* ----- Title ----- */
.titleContainer {
  background-color:bisque;
  text-align: center;
  font-size: 3vh;
  padding: 20px 0 30px 0;
}

/* ----- About ----- */
.aboutContainer {
  background-color: aqua;
  text-align: center;
}

/* ----- Work ----- */
.workType {
  background-color: burlywood;
  padding-top: 1px;
  padding-bottom: 1px;
}
.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.kitchenImg{
  width:70%;
  max-width: 500px;
  height: 425px;
}

.sliderimg{
  width:70%;
  max-width: 500px;
  height: 425px;
}
.carouselContainer {

}
.alice-carousel {
  position: relative;
  width: 100%;
  margin: auto;
  direction: ltr;
  text-align: center;
}

/* ----- Footer ----- */
.footerContainer {
  background-color: gold;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;

}





@media only screen and (max-width: 915px) {
	.headerContainer {
		display: flex;
		width: 100%;
		flex-direction: row;
		height: 60%;
		/* font-size: 1.6rem; */
    font-size: 120%;
	}
}

